.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.top {
  align-items: center;
  padding: 20px;
  background-color: #242424;
}

button {
  width: fit-content;
  padding: 5px 20px;
  border-radius: 7px;
  border: none;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(74, 179, 74);
}

button:active {
  background-color: #dcdcdc;
}

.url-input {
  width: calc(100%);
  max-width: 1111px;
  height: 50px;
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 500px;
  box-sizing: border-box;
}

.themeicon {
  cursor: pointer;
}

.fade-out {
  animation: fadeOutDown 0.5s forwards; /* Fade out and move down animation */
}

.fade-in {
  animation: fadeInUp 0.5s forwards; /* Fade in and move up animation */
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
