:root {
  --text-color: rgb(255, 255, 255);
  --background-color: #090909;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --active-nav-bar-color: #28b463;
  /* --transition-duration: 0.3s; */
}

body {
  font-family: monospace;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: small;
}

.page404 {
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page404 img {
  height: 200px;
  margin: 30px;
  transition: 0.3s ease;
}

.page404 img:hover {
  transform: scale(1.1);
}

.content {
  max-width: 768px;
}

@media (max-width: 768px) {
  .page404 {
    flex-direction: column;
  }

  .page404 img {
    margin-bottom: 20px;
  }
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
  transition: color var(--transition-duration) ease;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-family: monospace;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #131322;
}

/* Thumb */
body::-webkit-scrollbar-thumb {
  background-color: #50505b;
  border-radius: 9px;
}

/* track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #131322;
}

.user-title {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: larger;
  gap: 10px;
}

.user-title a {
  padding: 3px;
  border-radius: 5px;
}

.user-title a:hover {
  background-color: #1313224c;
}

.repo-avtar {
  width: 600px;
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

.repo-avtar:hover {
  transform: scale(0.75);
}

.user-title p {
  margin: 0;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 5px;
}

.user-info {
  margin-left: 20px;
}

.user-profile p {
  margin: 0;
  padding: 0;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100px;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.stats img {
  width: 75%;
  max-width: 500px;
}

.owner-avtar {
  width: 300px;
  border-radius: 50%;
  transform: scale(0.8);
}

.container {
  padding-top: 2rem;
}

.repo-eval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .repo-eval {
    flex-direction: row;
  }
}

.left-sidebar,
.right-sidebar {
  flex: 1;
}

.user-profile,
.repo-info {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .user-profile {
    width: auto;
  }
  .repo-info {
    width: auto;
  }
}

.repo-avatar {
  align-self: center;
  width: 100%;
  transition: all 0.5s ease;
  transform: scale(0.8);
}

.repo-avatar:hover {
  transform: scale(0.85);
}

.invalidurl {
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.invalidurl img {
  width: 100px;
  transition: 0.3s ease;
}

.invalidurl img:hover {
  transform: scale(1.1);
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100vw;
  margin-bottom: 50px;
}

th,
td {
  border: 1px solid var(--table-border-color);
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--table-background-color);
  padding: 10px 20px;
}

.gitinspect-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #202020;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item span {
  font-size: 12px;
  margin-top: 5px;
}

.gitinspect-navbar > * {
  cursor: pointer;
  transition: 0.1s;
  color: white;
}

.gitinspect-navbar > *:hover {
  color: rgb(138, 121, 91);
}

.active {
  color: var(--active-nav-bar-color);
}

.repo-info-summary {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.repo-info {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

.repo-info > div {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .repo-info > div {
    width: 100%;
    padding: 0;
  }
}

.summary-table {
  padding: 13px;
  padding-bottom: 0;
}

.user-summary {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .user-summary {
    flex-direction: row;
    align-items: flex-start;
  }
}

.avtar-big {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid rgb(169, 169, 169);
  transform: scale(0.8);
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats img {
  max-width: 500px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  margin-bottom: 10px;
}
